<!DOCTYPE html>

{% extends "base2.html" %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-4">

    <form  action="/buscar/cliente" method="GET" >
      {{form|crispy}}
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
      <button type="submit" class="btn btn-success">
    <i class="icon-circle-arrow-right icon-large"></i> Buscar
  </button>
    </form>
  </div>
</div>

<h2></h2>
<h2>TAREAS </h2>
<div class="row">
  <div class >
    {%if tarealist%}
      <table class="table table-hover table-stripped">
        <thead>
          <th>Usuario</th>
          <th>Trabajo programado(CRQ)</th>
          <th>Elemento de red afectado </th>
          <th>Duración(hh:mm:ss)</th>
          <th>Fecha de Corte </th>
        </thead>

      {%for t in tarealist %}
        {%for c in cliente%}
      <tr>
        <td>{{c.codigoCliente}}</td>
        <td>{{t.infoPlanta.remedy}}</td>
        <td>{{t.infoPlanta.troba.trobaNombre}}</td>
        <td>{{t.duration}}</td>
        <td>{{t.fecha}}</td>


      </tr>
        {%endfor%}
      {% endfor %}

    </table>
    {% else %}

    <p> No hay informacion que mostrar </p>

    {%endif%}

  </div>
</div>


<button
      type  = "submit" name = "report" class="btn btn-success" > <i class="icon-circle-arrow-right icon-large"></i> Reporte de usuario
</button>
{% endblock %}
