<!DOCTYPE html>

{% extends "base2.html" %}

{% load crispy_forms_tags %}
{% crispy form  form.helper%}

{% block content %}

<div class="row">
            <div class="col-md-4">
                <h5>Ingrese fecha deseada</h5>
                <form action="/search/" method="GET">
                    <input  placeholder='Haga click aquí' "type="text" id="date" class="datepicker" name="fecha">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>

            </div>
            <!--
            <div class="col s6">
        <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
            </div>
    </div>

  -->

<div class="row">
  <h2>TAREAS NOC</h2>
  <div >
    {%if tarealist%}
      <table class="table table-hover table-stripped">
        <thead>
          <th>Remedy</th>
          <th>Resumen </th>
          <th>Fecha de Inicio</th>
          <th> Responsable</th>
        </thead>

      {%for u in tarealist %}
      <tr>
        <td>{{u.remedy}}</td>
        <td>{{u.resumen}}</td>
        <td>{{u.fechaHoraInicio}}</td>
        <td>{{u.responsable}}</td>

      </tr>
      {% endfor %}

    </table>
    {% else %}

    <p>no hay informacion que mostrar </p>

    {%endif%}

  </div>
</div>





{% endblock %}
