<!DOCTYPE html>

{% extends "base2.html" %}
{% block content %}
<div id = "TN_content">
<h2>TAREAS NOC</h2>
<div >
  {%if tarealist%}
    <table class="table table-hover table-stripped">
      <thead>
        <th>Remedy</th>
        <th>Resumen </th>
        <th>Fecha de Corte</th>
        <th> Responsable</th>
        <th>Elemento de red afectado</th>
        <th>Duración del evento</th>
      </thead>

    {%for u in tarealist %}
    <tr>
      <td>{{u.remedy}}</td>
      <td>{{u.resumen}}</td>
      <td>{{u.fechaFin}}</td>
      <td>{{u.responsable}}</td>
      <td>{{u.elementoRed}}</td>
      <td>{{u.duration}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>no hay informacion que mostrar </p>
  {%endif%}
</div>

</div>
{% endblock %}
