<!DOCTYPE html>
{% extends "base2.html" %}

{% load crispy_forms_tags %}
{% crispy form  form.helper%}

{% block head %}

{% endblock %}


{% block content %}



<div id = "content_upload">
<h3>Remedy</h3>

<form  method="post" enctype="multipart/form-data">{% csrf_token %}
    Seleccione un archivo Excel:<br>
    <input type =  "file" name = "upload">
    <input type = "submit" value="subir archivo" name = "submit">

</form>

<br>
<h3>Movistar 1</h3>
<form  method="post" enctype="multipart/form-data">{% csrf_token %}
    Seleccione un archivo Excel:<br>
    <input type =  "file" name = "upload_remd">
    <input type = "submit" value="subir archivo" name = "submit">


</form>

</div>

{% endblock %}
